*{
  box-sizing: border-;
  position: relative;
  letter-spacing: 1.6px;
}
body{
  background :rgb(32, 32, 32);
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:18px
  /* background-image: linear-gradient(to right top, #000000, #383838, #707070, #adadad, #eeeeee);
  background-image: linear-gradient(to left bottom, #000000, #040303, #080506, #0d0809, #100b0b); */
}
.App {
  
  display: block;
}
.App > .flex-item{
  width: 70%;
  margin:0px auto;
  
}

.overlay{
  background-color: rgba(255,255,255,0.4);
  width:100%;
  height: 100%;
  top:0px;
  left:0px;
  position: fixed
}

.new{
  
  min-height: 300px;
  padding: 50px 20px;
  margin: 105px auto;
  background-color: #fff;
  color:#000

}

.new > div{
  margin-bottom: 10px;
}
.new > div > label{
  margin-left: 13px;
}

.search{
  margin-bottom: 20px;
}
.searchText{
  background-color: rgba(0,0,0,0.4);
	padding: 10px 20px;
	width: 400px;
  color: #ccc;
}
.transaction-list{
  box-shadow: 1px -1px 5px #000, -1px 1px 5px #000;
  border-radius: 5px;
  margin: 25px 0px
}

.transaction-card{
  display:flex;
  padding:10px;
  border-bottom:1px solid rgba(0,0,0,0.3);
  cursor: pointer;

}
.transaction-card:first-child{
  border-radius: 5px 5px 0px 0px;
}
.transaction-card:last-child{
 border-radius: 0px 0px 5px 5px
}
.transaction-card:first-child .transaction-card:last-child{
  border-bottom:1px solid #000;
}

.transaction-card:hover{
  border-left: 5px solid rgb(51, 183, 188) 
}
.transaction-card .item{
  flex-basis: 20%;
  text-transform: capitalize;
  padding: 7px;
  font-weight: 700;


}
.transaction-card .item:nth-child(2){
  flex-basis: 60%;
 
}

.transaction-card .date{
  font-size: 14px;
  color:#ccc
}
 section{
   padding:15px;
   min-height: 270px;
   margin: 30px 0px;  
   
 }

 section .group-heading{
   font-size: 22px;
   font-weight: 700;
   text-transform: capitalize
 }
 
 .absolutely{
   position: absolute;
   top:5px;
   right: 5px;
  
 }
 .fab{
   position: fixed;
   bottom: 20px;
   right:20px
 }
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media(min-width:300px){
  .new{
    width:90%;
    margin: 30px auto;
  }
}