:root{
--FORM_ELEMENT_BORDER_RADIUS: 4px;
}

*{
    outline: none;
    border:none;
    box-sizing: border-box
}

.textboxes{
    border-radius: var(--FORM_ELEMENT_BORDER_RADIUS);
    background-color: #ccc;
    padding:10px 20px;
    width:100%;
    
}
button{
    cursor: pointer
}