.summary-card{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box
}
.summary-balance, .summary-balance-weekly{
    width:50%;
    margin-bottom: 30px;
    font-weight: 700;
}
.summary-balance label.heading, .summary-balance-weekly label.heading{
    
    padding: 15px 15px 15px 0px;
    font-size: 25px;
    text-transform: capitalize;
    display: block
}
.summary-balance span, .summary-balance-weekly span{
    font-size: 40px;
}
.summary-balance-weekly{
text-align: right
}
.summary-card .item:first-child{
    font-size: inherit
}
.summary-card .item{
   width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 20px;
    text-align: center;
    box-shadow: 1px -1px 5px #000, -1px 1px 5px #000;
    justify-content: space-between;
   
  
}
.summary-card .item > span{
   
}
.summary-card .item > label{
    font-size: 16px;
    display:block;
    color:#ccc
}

@media(min-width: 900px){
    .summary-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }
    .summary-card .item{
        width: 47%;
        font-size: 100px;
             
      
    }
    .summary-card .item > span{
        font-weight: 700
    }
    .summary-card .item > label{
        font-size: 16px;
       
    }
        
}